.home-content {
  background-color: #282c34;

  .left-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-basis: 60%;

    > *:not(.logo) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .right-content {
    flex-basis: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}