
#login-form {
  margin: 50px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-evenly;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: .28571429rem;

}