
#search-form {
  padding: 16px;
  display: flex;
  flex-direction: row;
  min-height: 40px;
  justify-content: flex-start;
  gap: 20px;


  background-color: white;
  border-radius: .28571429rem;

  input[type="text"] {
    width: 300px;
  }

  button {

  }
}